.user-profile {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-bottom: 1rem;
}


.user-profile img {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    object-fit: cover;
}


.user-profile .user-info {
    align-self: center;
}


.post-author h3 {
    color: var(--primary-text-col)
}