/* import global variables */
@use '../../style/variables' as *;




.commentOwner {
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
  margin-bottom: 1rem;
}


/* Elements */
.commentOwner__avatar {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  object-fit: cover;
}

.commentOwner__userInfo {
  align-self: center;
}

.commentOwner__author {
  display: flex;
  gap: 1rem;
}

.commentOwner__name {
  color: $primary-text-col;
  font-size: 1.2rem;
}

.commentOwner__time {
  align-self: flex-end;
  color: $secondary-text-col;
  font-size: 1.1rem;
}

.commentOwner__dot {
  align-self: center;
}