/* global color variables */
$blue-col: #4874e5;
$purple-col: #4e34ff;
$white-col: whitesmoke;
$bg-light-grey: #f8f8f8;
$green-col: #3fb282;
$red-col: #df5f66;
$orange-col: #e6a277;
$yellow-col: #FDDA0D;
$violet-col: #844dff;
$primary-text-col: #191919;
$secondary-text-col: #8b8b8b;
$navbar-bg: rgb(215, 209, 209);
$success-toast-bg: #d7fcd7;
$success-toast-text-col: #008000;
$error-toast-text-col: #D22B2B

