.add-post {

}


.add-post .header {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}


.add-post .header-description {
    margin-bottom: 3rem;
}


.add-post label {
    display: block;
    margin-bottom: 0.5rem;
}


.add-post form {
    width: 30rem;
}


.add-post input {
    width: 100%;
    height: 3rem;
    border-radius: 0.625rem;
    border: 1px solid var(--secondary-text-col);
    padding: 1rem;

}


.add-post textarea {
    width: 100%;
    border-radius: 0.625rem;
    border: 1px solid var(--secondary-text-col);
    padding: 1rem;

}



.add-post .input-container {
    margin-bottom: 2rem;
}


.add-post button {
    border: none;
    border-radius: 0.625rem;
    width: 8rem;
    height: 3rem;
    cursor: pointer;
    background-color: var(--purple-col);
    color: var(--white-col);
    transition: background 0.3s ease;
}

.add-post button:hover {
    background-color: var(--blue-col);
}
