/* resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  width: 100%;
  min-height: 100vh;
  font-family: monospace
}



/* define global variables */
:root {
  --blue-col: #4874e5;
  --purple-col: #4e34ff;
  --white-col: whitesmoke;
  --bg-light-grey: #f8f8f8;
  --green-col: #3fb282;
  --red-col: #df5f66;
  --orange-col: #e6a277;
  --violet-col: #844dff;
  --primary-text-col: #191919;
  --secondary-text-col: #8b8b8b;

}


/* define global classes */
.link {
    text-decoration: none;
}


